# .NET Run Tests

This Composite Action runs whatever tests are set as default for the current Solution.

::: .github/actions/dotnet-tests-run
