name: 'Documentation generator'

on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    name: 'Generate Mkdocs docs'

    runs-on: ubuntu-latest

    env:
      GIT_COMMITTER_NAME: 'github-actions[bot]'
      GIT_COMMITTER_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          fetch-tags: 'true'

      - name: 'Fetch all'
        run: git fetch --all

      - name: 'Install Python'
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: 'Install dependencies'
        run: pip install -r requirements.txt

      - name: 'Build documentation'
        run: |
          mike set-default main
          mike deploy ${{ github.ref_name }}

      - name: 'Push built branch to repo'
        run: git push origin gh-pages
